footer
    div(class="footer")
        div(class="github-links")
            img(id="github-icon" src="https://github.githubassets.com/images/modules/site/icons/footer/github-mark.svg")
        div(class="github-links names cedric_link")
            a(href="https://github.com/K2G90" ) Cedric
        div(class="github-links names garrett_link")
            a(href="https://github.com/gmiddle") Garrett
        div(class="github-links names james_link")
            a(href="https://github.com/jt989073") James
        div(class="github-links names michael_link")
            a(href="https://github.com/Concrete18") Michael
