extends layout.pug

block append head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- title Good Games - #{currentUser}
    title Game Shelves

        body
            block append header
                head
                        div
                            form(action="/game-shelves" method="post")
                                label(for="shelf_name")
                                input(type="text" id="shelf_name" name="shelf_name" value placeholder="Shelf Name" required)
                                input(type="submit" value="Submit")
                                each shelf in gameShelves
                                    li= shelf.shelf_name
