extends layout

include utils.pug

block append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  //- script(src="NEED A SOURCE HERE" type="module" defer)

  //- TODO: add a line of text above box 1 to sign up

  div(class="box-container")
    div(class="box-1")
      +validationErrorSummary(errors)
      form(class="sign_up_form" action="/users" method="post")
          input(type="hidden" name="_csrf" value=token)
          //- +field('User Name', 'user_name', user.user_name)
          //- +field('Email Address', 'email', user.email)
          //- +field('Password', 'password', user.password, 'password')
          //- +field('Confirm Password', 'confirmPassword', '', 'password')
          div
          label(for="user_name")
          input(type="text" id="user_name" name="user_name" value placeholder="User Name" required)
          div
          label(for="email")
          input(type="email" id="email" name="email" value placeholder="Email" required)
          div
          label(for="password")
          input(type="password" id="password" name="password" value placeholder="Password" required)
          div
          label(for="confirm-password")
          input(type="password" id="confirm-password" name="confirm-password" value placeholder="Confirm Password" required)
          div
          input(type="submit" class="sign-up" value="Sign Up")
    div(class="box-2")
      div(class="img-container")
        img(class="idx-img" src="/images/splash-img.png", alt="Video Game Img")
      div(class="box-header")
        p|
          | Good Games is a place for you to interact with others and keep track of games in your library!
          ul
            li To create an account: Fill out the "Sign Up" form.
            li Already have an account?  Click "Log In"!
