extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  form(action="/" method="post")
    input(type="hidden" name="_csrf" value=token)
    div
    label(for="username") 
    input(type="text" id="username" name="username" value placeholder="User Name" required)
    div
    label(for="email")
    input(type="email" id="email" name="email" value placeholder="Email" required)
    div
    label(for="password") 
    input(type="text" id="password" name="password" value placeholder="Password" required)
    div
    label(for="confirm-password")
    input(type="text" id="confirm-password" name="password" value placeholder="Confirm Password" required)
    div
    input(type="submit" value="Submit")

//- TODO: Add classes to divs