extends layout

block append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  //- script(src="NEED A SOURCE HERE" type="module" defer)

block append main
  h1= title
    div(class="box-container") 
      div(class="box-1") 
        form(class="sign_up_form" action="/users" method="post")
            input(type="hidden" name="_csrf" value=token)
            div
            label(for="user_name")
            input(type="text" id="user_name" name="user_name" value placeholder="User Name" required)
            div
            label(for="email")
            input(type="email" id="email" name="email" value placeholder="Email" required)
            div
            label(for="password")
            input(type="password" id="password" name="password" value placeholder="Password" required)
            div
            label(for="confirm-password")
            input(type="password" id="confirm-password" name="confirm-password" value placeholder="Confirm Password" required)
            div
            input(type="submit" class="sign-up" value="Sign Up")
      div(class="box-2")
        div
          h1(class="box-header") Good Reads
        div     
          p Welcome!,  we are excited to have you here. Take some time to explore. When you are ready hit that Sign up button!
      
