doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    header
      block header
        include nav-bar.pug
    main
      block main
    footer
      block footer
        include footer.pug
