doctype html
html
  head
      block head
        title Good Games
        link(rel='stylesheet' href='/stylesheets/index.css')
        meta(property="og:url" content="https://good-games-g1.herokuapp.com/")
        meta(property="og:type" content="website")
        meta(property="og:title" content="Good Games")
        meta(property="og:description" content="Keep track of your favorite games and interact with others.")
        meta(property="og:image" content="https://imgur.com/a/3LZwjUc")
  body
    block header
      include nav-bar.pug
    main
      block main
      block footer
        include footer.pug
    //- script(src="/javascripts/shelves.js" type="module")
