header
    h1 Hello
        nav
            form(action="/" method="get" )
                input(class="sign-up" type="submit" value="Sign-Up")
            
            form(action="/users/login" method="get" )
                input(class="log-in" type="submit" value="Log In")

            form(action="/users/logout" method="post" )
                input(class="log-out" type="submit" value="Log Out")


            