extends layout.pug

block append head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/stylesheets/all-games.css")
    title Good Games - Search Results

block append main
    body
        div(class="all_games")
            if (searchResult)
                each game in games
                    div(class="game_box")
                        a(href=`/games/${game.id}`)
                            img(class="game_image" src=game.game_img, alt="#{game.name}")
            else
                div(class="none-found")
                    h1 No Results Found
