.allGames {
    margin: auto;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    max-width: 2200px;
}

.gameBox {
    margin-top: 18px;
    margin-bottom: 18px;
    box-shadow: 5px 5px 12px rgb(0, 0, 0);
}
