.allGames {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    max-width: 2200px;
}

.gameBox {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.gameImage {
    box-shadow: 5px 5px 12px rgb(0, 0, 0);
}
