*{
    /* margin: 0;
    padding: 0; */
    /* border: 1px solid black; */
}

.content { 
    font-family: "Microsoft Yi Baiti";
    font-size: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 2200px;
}
.gameInfo {
    max-width: 800px;
}

form {
    font-size: 40px;
}

.userReview {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

textarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
  }

.reviewText {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
}

.reviewsContainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews {
    box-sizing: content-box;
}

.reviewEntry {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #30333b;
    min-width: 800px;
    margin-bottom: 10px;
    border: 3px solid rgb(29, 29, 29);
}

.reviewEntry > h1 {
    font-size: 35px;
}

.reviewEntry > p {
    font-size: 30px;
}

.staticRating {
    font-size: 22px;
    color: #ffc700;
}

/* Star Rating System */

.rate {
    text-align: center;
    margin: 0;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
