*{
    /* border: 1px solid black; */
}

main {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 65px;
}

.title_text {
    font-size: 55px;
}

.content { 
    font-family: "Microsoft Yi Baiti", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 2200px;
}

.game_info {
    max-width: 800px;
    background-color: rgba(28, 102, 137, .4);
    border: 1px solid black;
}

.image_info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000007d;
}

.game_image {
    margin-left: 20px;
    margin-right: 20px;
}

.short_info {
    margin-left: 20px;
    margin-right: 20px;
}


form {
    font-size: 40px;
}

.review_text {
    margin: 1px;
}

.userReview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
  }

.reviewText {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
}

.reviewsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews {
    box-sizing: content-box;
}

.reviewEntry {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #30333b;
    min-width: 800px;
    margin-bottom: 10px;
    border: 3px solid rgb(29, 29, 29);
}

.staticRating {
    font-size: 22px;
    color: #ffc700;
}

/* Star Rating System */

.rate {
    text-align: center;
    margin: 0;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
