* {
    font-family: "Microsoft Yi Baiti",
    "Motiva Sans",
    Sans-serif;
}

h1 {
    display: flex;
    color: #b8b6b4;
}

body {
    /* background-color: #c6d4df; */
    /* background: linear-gradient( to bottom, rgba(42,71,94,1.0) 5%, rgba(42,71,94,0.0) 70%); */
    /* background-color:  #2f3138; */
    background-color: #1b2838;
    color: #b8b6b4;
    padding-bottom: 75px;

}

main {
    box-sizing: content-box;
}

/* Sign Up Form */

.sign_up_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

/* HEADER/NAVIGATION */
.logo {
    height: 50px;
}

header {
    width: 99%;
    /* 100% includes unnecessary scroll */
}
 .header {
    text-align: right;
    background-color: #171a21;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #282d3a;
    border-width: 100%;
    border-width: 0 0 1px;
    top: -10px;
    left: -10px;
    margin-bottom: 25px;
    position:relative;
    min-height: 55px;
    max-height: 55px;
    padding: 5px 20px;
    font-family: "Motiva Sans",Sans-serif;
    font-size: 1rem;
}

/* FOOTER SECTION*/

footer {
    width: 100px;
    box-sizing: content-box;
    height: 10px;
    position: absolute;
    bottom: 25px;

}
.footer {
    display: flex;
    box-sizing: content-box;
    position: fixed;
    left: 0;
    bottom: 0;
    min-height: 10px;
    max-height: 10px;
    width: 100%;
    background-color: #171a21;
    color: #b8b6b4;
    justify-content: space-between;
    margin-bottom: 0;
    border: 1px solid #282d3a;
    box-shadow: 0px -1px 2px rgb(255 150 100 / 30%);
    border-width: 0 0 1px;
    font-size: 1rem;
    align-content: center;
    font-family: "Motiva Sans", Sans-serif;
    padding: 30px;
}

footer{
    width: 1000px;
    box-sizing: content-box;
    height: 10px;
    position: absolute;
    bottom: 25px;

}

.username {
    margin-right: 20px;
}

.names a {
    text-decoration: none;
    color: #b8b6b4;
}

#github-icon {
    margin-left: 100px;
}

.names {
    display: inline-block;
    margin: 0 15px;
    text-align: center;
}

.michael_link {
    margin-right: 100px;
}

.nav-buttons {
    display: inline-flex;
    justify-content: space-between;
    /* margin-right: 15px; */
    align-content: space-around;
}

form {
    margin: 10px;
}

/* Buttons */

.button {

    font-family: "Motiva Sans", Sans-serif;
    color:#b8b6b4;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.button:hover {
    color: white;
}

.demo{
    color:#b8b6b4;
    background-color: transparent;
    border: none;

}

/* container alignment */
.box-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}

.box-1 {
    width: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: rgba(28, 102, 137, .4);
    border-radius: 15px;
    margin: 20px;
}

.box-1 input.sign-up {
    margin-top: 10px;
}

.box-1 input {
    margin: 5px;
}

.box-1 input:hover {
    background-color: #b8b6b4;
    border: 1px bevel black;
}

/* Box-2 */
.box-2 {
    width: 50%;
    font-family: "Microsoft Yi Baiti", "Motiva Sans", Sans-serif;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 20px;
}

.box-2 p {
    color: whitesmoke;
}
.box-2 h1 {
     color: whitesmoke;
}
