.log-in-form input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

input:hover {
    background-color: #b8b6b4;
    ;
}

input.log-in {
background-color: transparent;
color: #b8b6b4;
border: none;
cursor: pointer;
}

input.log-in:hover {
    color: whitesmoke;
}