.new_shelf {
    color: pink;
}

.shelf_container {
    display: flex;
    border: 1px solid black;
    padding: 150px;
    background-color: rgba(28, 102, 137, .4);
    border-radius: 20px;
    margin-bottom: 30px;
    margin-left: 60px;
    margin-right: 60px;
}

.shelf_list {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.each_shelf {
    color: whitesmoke;
    font-size: 25px;
    margin-left: 0px
}
.eachShelf_container {
    display: flex;
    border: 1px solid black;
    padding: 30px;
    background-color: rgba(28, 102, 137, .4);
    border-radius: 20px;
    margin-bottom: 30px;
    margin-right: 60px;
}


.box-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

}

.gameBox {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
}


.gameImage {
  max-width: 320px;

}
