.new_shelf {
  color: whitesmoke;
  font-size: 25px;
  margin-left: 0px
}

.shelf_container {
    /* min-height: 500px; */
    display: flex;
    border: 1px solid black;
    padding: 120px;
    background-color: rgba(28, 102, 137, .4);
    border-radius: 10px;
    margin-bottom: 30px;
    margin-right: 60px;
    /* overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap */
}

.shelf_list {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.each_shelf {
    color: whitesmoke;
    font-size: 25px;
    margin-left: 0px
}
.eachShelf_container {
    display: flex;
    border: 1px solid black;
    padding: 30px;
    background-color: rgba(28, 102, 137, .4);
    border-radius: 10px;
    margin-bottom: 30px;
    margin-right: 60px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap
}

.eachShelf_container::-webkit-scrollbar {
  width: 10px;
}

.eachShelf_container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #434953;
  border: 2px solid rgb(0, 0, 0);
  /* background-color: transparent; */
}

.box-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

}

.gameBox {
  display: flex;
  justify-content: space-between;
  /* margin-left: 10px; */
  margin-right: 20px;
}

.gameImage {
  max-width: 320px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.500);
}

.shelf_gamesLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  /* margin-bottom: 20px; */
}

.shelf_gamesButton {
  display: flex;
  font-weight: bolder;
  margin-left: -10px;
  margin-top: -9px;
  background-color: #434953;
  height: 150px;
  width: 320px;
  color: whitesmoke;
  font-size: 25px;
  text-align: justify;
  white-space: normal;
  word-wrap: break-word;
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
}
